<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @logup.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @logup.email %>
</p>

<%= link_to 'Edit', edit_logup_path(@logup) %> |
<%= link_to 'Back', logups_path %>
