<!DOCTYPE html>
<html ng-app>
<head>
  <title>Marid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="shortcut icon" href="favicon.png" type="image/png" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="main">
<div class="root">
	<%= render :partial => "pages/nav" %>
	<%= yield %>
</div>
</body>
</html>
